<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
    MyDocs
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" data-toggle="dropdown"> Project: {{ choices[0] }} </div>
        <div class="dropdown-menu">

          <a class="dropdown-item"
            *ngFor="let item of json | keyvalue"
            (click)="onProjectClick($event)"
          >
          {{item.key}}
          </a>

        </div>
      </li>

      <div class="nav-item dropdown" >
        <div class="nav-link dropdown-toggle" data-toggle="dropdown"> Category {{ choices[1] }} </div>
        <div class="dropdown-menu">

          <a class="dropdown-item" 
            *ngFor="let item of categories() | keyvalue"
            (click)="onCategoryClick($event)"
          >
            {{item.key}}
          </a>

        </div>
      </div>

    </ul>
  </div>
</nav>
