<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Brand
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#"> Overview </a>
      </li>

      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"> Page </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#"> Foodie </a>
        </div>
      </li>

      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"> Part </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#"> Welcome </a>
        </div>
      </li>

    </ul>
  </div>
</nav>
