@import "node_modules/bootstrap/scss/bootstrap"
@import "https://fonts.googleapis.com/css?family=Lato:400,700,700i&display=swap"
@import "~highlight.js/styles/an-old-hope.css"
@import "~highlight.js/styles/an-old-hope.css"
@import "~highlight.js/styles/an-old-hope.css"
@import "~highlight.js/styles/darcula.css"

$font-stack: Lato, sans-serif

body
  font-family: $font-stack !important
  background-color: #F8F8FF !important
  text-align: center !important

.code
  text-align: left !important
